.header-section {
  background-image: url(../../images/car.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
.header-all {
  h1 {
    font-family: "Manrope";
    width: 300px;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    color: rgba(0, 0, 0, 1);
  }
}
.background-img {
  padding: 50px 350px 50px;
}
